<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar"
              nzCollapsible
              nzWidth="256px"
              nzBreakpoint="md"
              [(nzCollapsed)]="isCollapsed"
              [nzTrigger]="null">
      <div class="sidebar-logo">
        <a href="https://ng.ant.design/" target="_blank">
          <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
          <h1>固定资产分配</h1>
        </a>
      </div>
      <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed" nzSelected>
        <li nz-menu-item nzMatchRouter>
          <a [routerLink]="[ '/desktop']">
          <i nz-icon nzType="home"></i>
          <span>桌面</span>
        </a>
        </li>
        <li nz-submenu nzOpen nzTitle="设置" nzIcon="setting">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a [routerLink]="[ '/setCostId']">设置成本费用</a>
            </li>
            <li nz-menu-item nzMatchRouter>
                <a [routerLink]="['/setDataBase']">配置服务器</a>
              </li>
          </ul>
        </li>
          <li nz-menu-item nzMatchRouter>
          <a [routerLink]="[ '/distribution']">
              <i nz-icon nzType="unordered-list"></i>
              <span>业务</span>
              </a>
            </li>
        <li nz-submenu nzOpen nzTitle="报表" nzIcon="form">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a [routerLink]="[ '/equipmentUnitPriceAndStop']">单位及停工</a>
            </li>
            <li nz-menu-item nzMatchRouter>
                <a [routerLink]="['/procedurePriceHasNoData']">分配错误</a>
              </li>
              <li nz-menu-item nzMatchRouter>
                <a [routerLink]="[ '/unCloseCostPeriod' ]">成本结账</a>
 
                </li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-header>
        <div class="app-header">
          <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
              <i class="trigger"
                 nz-icon
                 [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
              ></i>
          </span>
        </div>
      </nz-header>
      <nz-content>
        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>
  
